@import url(https://allfont.net/allfont.css?fonts=clear-sans);

body {
  color: #776e65;
  background-color: #faf8ef;
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
